<!DOCTYPE html>
<html>
<head>
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
    {% block content %}
    {% endblock %}
    {% if user.is_authenticated %}
        <p>
            logged by {{user}}
            <form method="POST" action="/accounts/logout/">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Logout</button>
            </form>
        </p>
    {% else %}
    <form method="POST" action="/accounts/login/">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Login</button>
    </form>
    {% endif %}
</body>
</html>
