{% extends "app/base.html" %}
{% block title %}park{% endblock %}
{% load humanize %}
{%block content%}
<h1>
    <form action="" method="get" autocomplete="off" class="my-4">
        <input type="text" name="query" placeholder="검색어를 입력해주세요" autofocus
        value="{{query}}">
    </form>
    book list : 
    {% for b in bookinfo %}
    <div>
        {{b.id}} 
        <a href="/app/{{b.id}}/"><img src="{{ b.cover_image_url }}" alt="miss" style="width:120px; height:auto;"></a>
        {{b.title}}  <strong><i>{{b.price|intcomma}}</i></strong>
    </div>
    {%endfor%}
</h1>
{%endblock%}