{%extends "app/base.html"%}
{%load django_bootstrap5%}
{%block content%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Page</title>
</head>
<body>

    <h1>Hello, World!</h1>
    <p>This is a simple HTML page.</p>
    <h2>
        {{bookkk.title}}  {{bookkk.price}} 
        <img src="{{ bookkk.cover_image_url }}" alt="" style="width:600px; height:auto;">
    </h2>
    <a href="/app/">목록으로</a>
</body>
</html>
{%endblock%}